<launch>

    <arg name="project" default="lio_sam"/>
    <param name="use_sim_time" value="true" />
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params_ue5.yaml" command="load" />

    <!--- LOAM -->
    <!-- <include file="$(find lio_sam)/launch/include/module_loam.launch" /> -->
    <!-- <arg name="project" default="lio_sam"/> -->
    
    <node pkg="$(arg project)" type="$(arg project)_imuPreintegration"   name="$(arg project)_imuPreintegration"    output="screen" 	respawn="true"/>
    <node pkg="$(arg project)" type="$(arg project)_imageProjection"     name="$(arg project)_imageProjection"      output="screen"     respawn="true"/>
    <node pkg="$(arg project)" type="$(arg project)_featureExtraction"   name="$(arg project)_featureExtraction"    output="screen"     respawn="true"/>
    <node pkg="$(arg project)" type="$(arg project)_mapOptmization"      name="$(arg project)_mapOptmization"       output="screen"     respawn="true"/>

    <!-- <remap from="/xianfeng_lidar" to="/points_raw" /> -->
    <!-- <remap from="/xianfeng_imu" to="/imu_raw" /> -->
    <!-- <remap from="/xianfeng_imu" to="imu_correct" /> -->

    <!--- Robot State TF -->
    <!-- 机器人描述和机器人状态话题，就是各个传感器之间位置关系 -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <!-- 就是GPS相关的话题 -->
    <!-- <include file="$(find lio_sam)/launch/include/module_navsat.launch" /> -->

    <!--- Run Rviz-->
    <!-- <include file="$(find lio_sam)/launch/include/module_rviz.launch" /> -->
    <node pkg="rviz" type="rviz" name="$(arg project)_rviz" args="-d $(find lio_sam)/launch/include/config/ue5_1_rviz.rviz" />

    <!--- Run Rosbag-->
    <include file="$(find lio_sam)/launch/include/module_rosbag_ue5.launch" />

    <!-- 轨迹保存节点 -->
    <node pkg="$(arg project)" type="path_trajectory_saver" name="path_trajectory_saver" output="screen">
    <!-- 可选参数：自定义输出目录（默认~/liosam_trajectory） -->
    <param name="output_dir" value="/mnt/c/Users/Greary/Documents/rosbag/Examdata/single_evo/liosam" />
    
    <!-- 可选参数：自定义话题名称（默认/lio_sam/mapping/path和/lio_sam/imu/path） -->
    <param name="mapping_path_topic" value="/lio_sam/mapping/path" />
    <param name="imu_path_topic" value="/lio_sam/imu/path" />
    </node>

</launch>
